# ---- Rust ----
/target/      
Cargo.lock      
**/*.rs.bk          

# ---- Environment & Config ----
.env

# ---- IDEs & Editors ----
.vscode/
.idea/
.DS_Store

# Migration
migration/target/

# Node
dist/
node_modules/
pnpm-lock.yaml